<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-7 mb-3">
            <div class="card">
                <img class="card-img-top" src="<%= campgrounds.image%>" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campgrounds.title %>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= campgrounds.location %>
                    </li>
                    <li class="list-group-item">
                        $<%= campgrounds.price %>/night
                    </li>
                    <li class="list-group-item">
                        <%= campgrounds.description %>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-warning" href="/campgrounds/<%=campgrounds._id%>/edit"> Edit campgrounds</a>
                    <form class="d-inline" action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-5">
            <h2 class="mb-3">Leave a Review</h2>
            <form action="/campgrounds/<%=campgrounds._id%>/reviews" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" id="body" name="review[body]" required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for (let review of campgrounds.reviews){ %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"> Rating: <%=review.rating%>
                        </h5>
                        <p class="card-text">
                            Review: <%=review.body%>
                        </p>

                        <form action="/campgrounds/<%=campgrounds._id%>/reviews/<%=review._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>

                <% } %>
        </div>
    </div>






    </html>